.φcommon__plugin {
  position: relative;
  border-color: #{'BORDER_COLOR'};
}

.φcommon__zoomable {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    transition: transform .3s cubic-bezier(.2,0,.2,1);
    transform-origin: 0 0;
    cursor: inherit;
  }

  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #{'CARD_BACKGROUND'};
    transition: opacity .3s;
    opacity: 0;
  }

  &-active {
    cursor: zoom-out;
    &::after {
      opacity: 1;
    }
  }
}
