@import 'variable';

html, body {
  height: 100%;
  @include print {
    height: auto;
  }
}
html {
  font-size: 14px;
}
@media screen and (max-width:359px) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: #{'FONT_BASE'};
  background: #{'BACKGROUND'};
  color: #{'FOREGROUND_COLOR'};

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @include print {
    background: none !important;
    color: #000 !important;
  }
  @include print {
    font-family: #{'FONT_PRINT'};
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: #{'FONT_HEADING'};
  font-weight: normal;
  line-height: 1.5;
}
h1 {
  font-size: $heading-1;
}
h2 {
  font-size: $heading-2;
}
h3 {
  font-size: $heading-3;
}
h4 {
  font-size: $heading-4;
}
h5, h6 {
  font-size: $heading-5;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
iframe, canvas, video {
  display: block;
  margin: auto;
  max-width: 100%;
}
img {
  max-width: 100%;
}
blockquote {
  margin: 0;
  padding: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
}
td, th {
  padding: 0;
}
code, pre {
  font-family: #{'FONT_CODE'};
  font-size: 85%;

  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  padding: .2em .4em;
  border-radius: $radius-s;
  color: #{'ACCENT_COLOR'};
  background-color: #{'ACCENT_COLOR_005'};
}
pre {
  padding: .75rem 1rem;
  line-height: 1.6;
  overflow-wrap: normal;

  @include code();
  code {
    margin: 0;
    padding: 0;
    color: inherit;
  }
}
// :focus {
//   outline: 1px dashed;
// }
::-webkit-scrollbar {
  width: 8px;
  height: 6px;

  @include mobile {
    width: 0;
    height: 0;
    background: none;
  }
}
input, textarea {
  border: 1px solid #{'BORDER_COLOR'};
  color: inherit;
  font-family: inherit;
  padding: 4px 6px;
  background: none;
  &::-webkit-input-placeholder {
    color: inherit;
    opacity: $opacity-3;
  }
  &:focus {
    outline: none;
  }
}
sup, sub {
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  top: -.3em;
}
::selection {
  background-color: #{'ACCENT_COLOR'};
  color: $color-white;
}
::-webkit-scrollbar-thumb {
  background-color: #{'ACCENT_COLOR_02'};
  &:hover {
    background-color: #{'ACCENT_COLOR_08'};
  }
}
