@use "sass:math";

@import 'variable';

.φv-page {
  display: block;
  overflow: hidden;
  background: #{'CARD_BACKGROUND'};

  @include card($padding: 0);
  @include print {
    background: #fff;
  }

  &__header {
    text-align: center;

    @include print {
      display: none;
    };
  }
  &__title {
    margin: 0;
    padding: $padding * 2 $padding $padding;
  }
  &__meta {
    margin-top: -1rem;
    line-height: 2;
    opacity: $opacity-3;
  }
  &__body {
    position: relative;
    padding: math.div($padding * 3, 8) $padding $padding;

    @include mobile {
      padding: math.div($padding-mobile * 3, 8) $padding-mobile $padding-mobile;
    }
    @include print {
      padding: 0;
      &::before {
        display: block;
        margin: 1rem 0 4rem;
        content: attr(data-title);
        text-align: center;
        font-size: 2.2rem;
      }
    }
  }
}
