<div class="φv-search__inner" (click)="$event.stopPropagation()">
  <div class="φv-search__header" [ngClass]="{ 'φv-search__header--lined': res }">
    <label class="φv-search__field">
      <input
        class="φv-search__field-input"
        (input)="onSearch($event.target['value'])"
        spellcheck="false"
        placeholder="{{ 'page.search.placeholder' | i18n }}"
        maxlength="30"
        #input
      />
      <i class="φv-search__field-icon φcommon__icon iκ-search"></i>
    </label>
    <a class="φv-search__header-exit φcommon__icon iκ-exit" *ngIf="fixed" (click)="exit.emit()"></a>
  </div>
  <div class="φv-search__result" *ngIf="res">
    <div class="φv-search__entries">
      <header class="φv-search__entries-title" [ngClass]="{ 'φv-search__entries-title--caption': res.hits }">
        {{ 'page.search.hits' | i18n: res.hits:tiMap
        }}<img *ngIf="config.logo" class="φv-search__entries-logo" src="{{ config.logo }}" />
      </header>
      <ng-container *ngIf="res.hits">
        <div class="φv-search__entry" *ngFor="let post of res.data">
          <div
            *ngIf="post.thumbnail"
            class="φv-search__entry-thumbnail"
            [ngStyle]="{
              backgroundImage: post.thumbnail && 'url(' + post.thumbnail + ')',
              backgroundColor: post.color
            }"
          ></div>
          <div class="φv-search__entry-body">
            <a class="φv-search__entry-title" href="{{ post.plink }}" [innerHTML]="post.title"></a>
            <span class="φv-search__entry-meta">{{ post.date_formatted.ll }}</span>
            <div
              *ngIf="post.content"
              class="φcommon__article φv-search__entry-content"
              [innerHTML]="post.content"
            ></div>
          </div>
        </div>
      </ng-container>
    </div>
    <is-pager
      *ngIf="res.total > 1"
      [size]="res.per_page"
      [count]="res.total"
      [current]="res.current"
      (page)="onQuery($event)"
    ></is-pager>
  </div>
</div>
