<is-sidebar></is-sidebar>
<div class="φapp__outer" #outer>
  <div class="φapp__main">
    <div class="φapp__page-container" #page>
      <main class="φapp__page"><router-outlet></router-outlet></main>
      <div class="φapp__overlay" *ngIf="isSidebarOpen || isSearchOpen" (click)="onOverlay()"></div>
    </div>
  </div>
</div>
<is-fab
  (action)="onFabAct($event)"
  [progress]="scrollPercent"
  [toc]="!!tocData && !isSidebarOpen"
  [search]="config.search?.fab && !isSidebarOpen && !isTocOpen"
></is-fab>
<is-toc (action)="animateTo($event)" *ngIf="tocData" [toc]="tocData" [scrollTop]="scrollTop"></is-toc>
<is-v-search
  *ngIf="isSearchOpen"
  fixed="{{ true }}"
  (click)="isSearchOpen = false"
  (exit)="isSearchOpen = false"
></is-v-search>

<!--
<sidebar></sidebar>
<fab></fab>
<toc></toc>
<outer paddingLeft=sidebarWidth height=100 #outerRef>
  <main height=100>
    <page-container height=100>
      <page maxWidth=limited #pageRef>scrollable</page>
    </page-container>
  </main>
  <overlay></overlay>
</outer>
-->
