<div
  class="φtoc__entries φtoc__entries-top"
  *ngFor="let a of toc"
  [ngClass]="{ 'φtoc__entries-top--active': stacks[currentId] && stacks[currentId].depth[0] === a.id }"
>
  <a
    class="φtoc__link"
    (click)="navigate(a.id, $event)"
    [ngClass]="{ 'φtoc__link--active': currentId === a.id }"
  >
    <span *ngIf="config.index" class="φtoc__link-index">{{ a.index }} </span
    ><span class="φtoc__link-title" [innerHTML]="a.title"></span>
  </a>
  <ng-container *ngIf="a.children">
    <div class="φtoc__entries" *ngFor="let b of a.children">
      <a
        class="φtoc__link"
        (click)="navigate(b.id, $event)"
        [ngClass]="{ 'φtoc__link--active': currentId === b.id }"
      >
        <span *ngIf="config.index" class="φtoc__link-index">{{ b.index }} </span
        ><span class="φtoc__link-title" [innerHTML]="b.title"></span>
      </a>
      <ng-container *ngIf="b.children">
        <div class="φtoc__entries" *ngFor="let c of b.children">
          <a
            class="φtoc__link"
            (click)="navigate(c.id, $event)"
            [ngClass]="{ 'φtoc__link--active': currentId === c.id }"
          >
            <span *ngIf="config.index" class="φtoc__link-index">{{ c.index }} </span
            ><span class="φtoc__link-title" [innerHTML]="c.title"></span>
          </a>
          <div class="φtoc__entries" *ngIf="c.children">
            <a
              class="φtoc__link"
              *ngFor="let d of c.children"
              (click)="navigate(d.id, $event)"
              [ngClass]="{ 'φtoc__link--active': currentId === d.id }"
            >
              <span *ngIf="config.index" class="φtoc__link-index">{{ d.index }} </span
              ><span class="φtoc__link-title" [innerHTML]="d.title"></span>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
