@use "sass:math";

@import 'variable';
// $line-height: 1.8;
$line-height: 2rem; // 1.15 * 1.8 ~= 2
$anchor-padding: math.div($archive-anchor-height - $line-height, 2);

.φarchive {
  &__link {
    position: relative;
    display: block;
    margin-left: 1.5rem;
    padding: $anchor-padding 0;
    line-height: $line-height;
    transition: color .15s;

    &:hover, &:active {
      color: #{'ACCENT_COLOR'};
    }

    &::before {
      position: absolute;
      top: math.div($archive-anchor-height, 2);
      left: -1rem;
      content: '-';
      opacity: $opacity-2;
      transform: translateY(-50%);
    }
  }
  &__time {
    float: left;
    padding-right: .5rem;
    white-space: nowrap;
    letter-spacing: 1px;
    font-family: #{'FONT_LABEL'};
    font-size: .85rem;
    opacity: $opacity-2;
  }
  &__text {
    display: table-cell;
    font-size: 1.15rem;
  }
}
