<ng-container *ngIf="data$ | async as it">
  <h1 class="φv-tag-list__title">{{ 'page.tags' | i18n: it.tagList.length }}</h1>
  <is-tag *ngFor="let tag of it.tagList" name="{{ tag.name }}" count="{{ tag.count }}"></is-tag>
</ng-container>
