<ng-container *ngIf="data$ | async as it">
  <div class="φv-category__nav-wrapper">
    <nav class="φv-category__nav" #nav>
      <a class="φcommon__icon iκ-previous φv-category__nav-navigator" *ngIf="showPrev" (click)="step(-1)"></a>
      <a
        class="φcommon__icon iκ-next φv-category__nav-navigator φv-category__nav-navigator--forward"
        *ngIf="showNext"
        (click)="step(1)"
      ></a>
      <a
        class="φv-category__nav-link"
        *ngFor="let category of it.categoryList"
        routerLink="/categories/{{ category.name }}"
        routerLinkActive="φv-category__nav-link--active"
        [attr.count]="category.count"
        >{{ category.name }}</a
      >
    </nav>
  </div>
  <router-outlet></router-outlet>
</ng-container>
