@import 'variable';
$padding: 1.5rem;

.φpost-card {
  display: block;
  overflow: hidden;
  margin-bottom: 1.75rem;
  border-radius: $radius-m;

  @include mobile {
    margin: 1rem;
  }

  &__inner {
    background: #{'CARD_BACKGROUND'};
  }

  &__title {
    margin: 0;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
    a {
      display: block;
      padding: $padding $padding 0;
      transition: color .15s;

      &:hover, &:active {
        color: #{'ACCENT_COLOR'};
      }
    }
  }
  &__thumbnail {
    display: block;
  }
  &__excerpt {
    padding: 0 $padding;
    opacity: $opacity-1;
  }
  &__footer {
    margin: 1em $padding 0;
    padding-bottom: $padding;
    opacity: $opacity-2;
  }
  &__meta {
    display: inline-block;
    margin-right: 1rem;
  }
  &__meta-icon {
    margin-right: .4rem;
  }
}
