<ng-container *ngIf="data$ | async as it">
  <header
    class="φv-post__header"
    [ngClass]="{ 'φv-post__header-thumbnail': it.post.thumbnail, 'φv-post__header-common': !it.post.thumbnail }"
    [ngStyle]="{
      backgroundImage: it.post.thumbnail && 'url(' + it.post.thumbnail + ')',
      backgroundColor: it.post.color
    }"
  >
    <div class="φv-post__header-meta-wrapper">
      <h1 class="φv-post__header-title" *ngIf="!it.post.thumbnail">{{ it.post.title }}</h1>
      <p class="φv-post__header-meta">
        <span class="φv-post__header-meta-item φv-post__header-meta-item--date">{{ it.post.date_formatted.ll }}</span>
        <!-- <span class="φv-post__header-meta-item φv-post__header-meta-item--author" *ngIf="it.post.author">{{
          it.post.author
        }}</span> -->
        <a
          class="φv-post__header-meta-item φv-post__header-meta-item--cate"
          *ngIf="it.post.categories"
          routerLink="/categories/{{ it.post.categories[0] }}"
          >{{ it.post.categories[0] }}</a
        >
        <span class="φv-post__header-meta-item φv-post__header-meta-item--clock" *ngIf="it.post.reading_time">{{
          it.post.reading_time
        }}</span>
        <span class="φv-post__header-meta-item φv-post__header-meta-item--eye" *ngIf="it.post.pv || pv[it.post.link]">{{
          it.post.pv || pv[it.post.link]
        }}</span>
      </p>
      <hr class="φv-post__header-thumbnail-sep" *ngIf="it.post.thumbnail" />
      <h1 class="φv-post__header-title" *ngIf="it.post.thumbnail">{{ it.post.title }}</h1>
    </div>
  </header>
  <article class="φv-post__body" [attr.data-title]="it.post.title" itemscope itemtype="http://schema.org/Article">
    <div
      class="φcommon__article"
      [innerHTML]="it.post.content | unsafe"
      [ngClass]="{ 'φcommon__article--dropcap': it.post.dropcap }"
      itemprop="articleBody"
      isSnippet
      isZoomable
    ></div>
    <is-copyright *ngIf="it.post.copyright" [meta]="it.post.copyright"></is-copyright>
    <is-reward *ngIf="it.post.reward"></is-reward>
    <!-- plugins -->
    <div *ngIf="plugins">
      <div *ngFor="let t of plugins" class="φcommon__plugin" [innerHTML]="t | unsafe" isSnippet></div>
    </div>
  </article>
  <footer class="φv-post__footer">
    <div class="φv-post__footer-tags" *ngIf="it.post.tags && it.post.tags.length">
      <is-tag *ngFor="let tag of it.post.tags" name="{{ tag }}"></is-tag>
    </div>
    <div class="φv-post__footer-siblings" *ngIf="it.post.prev || it.post.next">
      <a
        class="φv-post__footer-siblings-link φv-post__footer-siblings-link--prev"
        *ngIf="it.post.prev"
        routerLink="/{{ it.post.prev.link }}"
        >{{ it.post.prev.title }}</a
      >
      <a
        class="φv-post__footer-siblings-link φv-post__footer-siblings-link--next"
        *ngIf="it.post.next"
        routerLink="/{{ it.post.next.link }}"
        >{{ it.post.next.title }}</a
      >
    </div>
  </footer>
  <is-comment
    *ngIf="it.post.comments"
    [page]="{ id: it.post.link, url: it.post.plink, title: it.post.title, thumbnail: it.post.thumbnail }"
  ></is-comment>
</ng-container>
