<div class="φv-404__emoji">{{emoji}}</div>
<div class="φv-404__summary">
  <ng-container *ngIf="intendUrl != url">{{'page.notfound.direct_failed' | i18n:intendUrl}}</ng-container>
  <ng-container *ngIf="intendUrl == url">{{'page.notfound.empty' | i18n}}</ng-container>
</div>
