@import './variable';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: $icon-font-family;
  src: url(../assets/fonts/icomoon/inside-icons.woff) format('woff');
}

.φcommon__icon:before {
  color: inherit;
  text-transform: none;
  font-style: normal;
  font-family: $icon-font-family;
  vertical-align: -1px;
}
:global {
  [class^='iκ-']:before,
  [class*=' iκ-']:before {
    color: inherit;
    text-transform: none;
    font-style: normal;
    font-family: $icon-font-family;
    vertical-align: -1px;
  }
  .iκ-square {
    &:before {
      content: $icon-square;
    }
  }
  .iκ-check-square {
    &:before {
      content: $icon-check-square;
    }
  }
  .iκ-quote-left {
    &:before {
      content: $icon-quote-left;
    }
  }
  .iκ-exit {
    &:before {
      content: $icon-exit;
    }
  }
  .iκ-external {
    &:before {
      content: $icon-external;
    }
  }
  .iκ-link {
    &:before {
      content: $icon-link;
    }
  }
  .iκ-at {
    &:before {
      content: $icon-at;
    }
  }
  .iκ-image {
    &:before {
      content: $icon-image;
    }
  }
  .iκ-author {
    &:before {
      content: $icon-author;
    }
  }
  .iκ-cate {
    &:before {
      content: $icon-cate;
    }
  }
  .iκ-hash {
    &:before {
      content: $icon-hash;
    }
  }
  .iκ-dot {
    &:before {
      content: $icon-dot;
    }
  }
  .iκ-next {
    &:before {
      content: $icon-next;
    }
  }
  .iκ-previous {
    &:before {
      content: $icon-previous;
    }
  }
  .iκ-down {
    &:before {
      content: $icon-down;
    }
  }
  .iκ-up {
    &:before {
      content: $icon-up;
    }
  }
  .iκ-search {
    &:before {
      content: $icon-search;
    }
  }
  .iκ-calendar {
    &:before {
      content: $icon-calendar;
    }
  }
  .iκ-eye {
    &:before {
      content: $icon-eye;
    }
  }
  .iκ-clock {
    &:before {
      content: $icon-clock;
    }
  }
  .iκ-sidebar {
    &:before {
      content: $icon-sidebar;
    }
  }
  .iκ-toc {
    &:before {
      content: $icon-toc;
    }
  }
  .iκ-loader {
    &:before {
      content: $icon-loader;
    }
  }
  .iκ-wechat {
    &:before {
      content: $icon-wechat;
    }
  }
  .iκ-paypal {
    &:before {
      content: $icon-paypal;
    }
  }
  .iκ-bitcoin {
    &:before {
      content: $icon-bitcoin;
    }
  }
  .iκ-soundcloud {
    &:before {
      content: $icon-soundcloud;
    }
  }
  .iκ-pinterest {
    &:before {
      content: $icon-pinterest;
    }
  }
  .iκ-youtube {
    &:before {
      content: $icon-youtube;
    }
  }
  .iκ-tumblr {
    &:before {
      content: $icon-tumblr;
    }
  }
  .iκ-linkedin {
    &:before {
      content: $icon-linkedin;
    }
  }
  .iκ-myspace {
    &:before {
      content: $icon-myspace;
    }
  }
  .iκ-disqus {
    &:before {
      content: $icon-disqus;
    }
  }
  .iκ-hangouts {
    &:before {
      content: $icon-hangouts;
    }
  }
  .iκ-email {
    &:before {
      content: $icon-email;
    }
  }
  .iκ-facebook {
    &:before {
      content: $icon-facebook;
    }
  }
  .iκ-dribbble {
    &:before {
      content: $icon-dribbble;
    }
  }
  .iκ-telegram {
    &:before {
      content: $icon-telegram;
    }
  }
  .iκ-qq {
    &:before {
      content: $icon-qq;
    }
  }
  .iκ-instagram {
    &:before {
      content: $icon-instagram;
    }
  }
  .iκ-weibo {
    &:before {
      content: $icon-weibo;
    }
  }
  .iκ-feed {
    &:before {
      content: $icon-feed;
    }
  }
  .iκ-twitter {
    &:before {
      content: $icon-twitter;
    }
  }
  .iκ-github {
    &:before {
      content: $icon-github;
    }
  }
  .iκ-folder-minus {
    &:before {
      content: $icon-folder-minus;
    }
  }
  .iκ-folder-plus {
    &:before {
      content: $icon-folder-plus;
    }
  }
  .iκ-minus-circle {
    &:before {
      content: $icon-minus-circle;
    }
  }
  .iκ-minus-square {
    &:before {
      content: $icon-minus-square;
    }
  }
  .iκ-minus {
    &:before {
      content: $icon-minus;
    }
  }
  .iκ-plus-square {
    &:before {
      content: $icon-plus-square;
    }
  }
  .iκ-plus-circle {
    &:before {
      content: $icon-plus-circle;
    }
  }
  .iκ-plus {
    &:before {
      content: $icon-plus;
    }
  }
}
