$icon-font-family: "inside-icons";

$icon-square: "\e92a";
$icon-check-square: "\e92b";
$icon-quote-left: "\e933";
$icon-exit: "\e928";
$icon-external: "\e929";
$icon-link: "\e906";
$icon-at: "\e927";
$icon-image: "\e905";
$icon-author: "\e903";
$icon-cate: "\e904";
$icon-hash: "\e907";
$icon-dot: "\e908";
$icon-next: "\e909";
$icon-previous: "\e90a";
$icon-down: "\e90b";
$icon-up: "\e90c";
$icon-search: "\e90d";
$icon-calendar: "\e90e";
$icon-eye: "\e90f";
$icon-clock: "\e910";
$icon-sidebar: "\e926";
$icon-toc: "\e925";
$icon-loader: "\e902";
$icon-wechat: "\e91c";
$icon-paypal: "\e919";
$icon-bitcoin: "\e91b";
$icon-soundcloud: "\e911";
$icon-pinterest: "\e91a";
$icon-youtube: "\e916";
$icon-tumblr: "\e914";
$icon-linkedin: "\e915";
$icon-myspace: "\e917";
$icon-disqus: "\e918";
$icon-hangouts: "\e912";
$icon-email: "\e913";
$icon-facebook: "\e91d";
$icon-dribbble: "\e91e";
$icon-telegram: "\e91f";
$icon-qq: "\e920";
$icon-instagram: "\e921";
$icon-weibo: "\e922";
$icon-feed: "\e924";
$icon-twitter: "\e92c";
$icon-github: "\e92d";
$icon-folder-minus: "\e900";
$icon-folder-plus: "\e901";
$icon-minus-circle: "\e923";
$icon-minus-square: "\e92e";
$icon-minus: "\e92f";
$icon-plus-square: "\e930";
$icon-plus-circle: "\e931";
$icon-plus: "\e932";
