@import 'variable';
$size: 2.4rem;

.φpager {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-family: #{'FONT_LABEL'};
  text-align: center;

  &__link {
    margin: 0 2px;
    width: $size;
    height: $size;
    border-radius: 50%;
    text-align: center;
    line-height: $size;

    &--active, &:hover, &:active {
      color: $color-white;
      background-color: #{'ACCENT_COLOR'};
      background-image: none;
    }

    &--active {
      pointer-events: none;
    }
    &--dot {
      pointer-events: none;
      &::before {
        content: '#{$icon-dot}';
        font-family: $icon-font-family;
      }
    }
    &--prev {
      &:before {
        content: '#{$icon-previous}';
        font-family: $icon-font-family;
      }
    }
    &--next {
      &:before {
        content: '#{$icon-next}';
        font-family: $icon-font-family;
      }
    }
  }
}
