<ng-container *ngFor="let i of items">
  <ng-container *ngIf="url">
    <a
      class="φpager__link φpager__link--prev"
      routerLink="{{ link(i.route) }}"
      *ngIf="i.type === 'prev'"
    ></a>
    <a
      class="φpager__link φpager__link--next"
      routerLink="{{ link(i.route) }}"
      *ngIf="i.type === 'next'"
    ></a>
    <a class="φpager__link" routerLink="{{ link(i.route) }}" *ngIf="!i.type">{{ i.text }}</a>
  </ng-container>
  <ng-container *ngIf="!url">
    <a
      class="φpager__link φpager__link--prev"
      *ngIf="i.type === 'prev'"
      (click)="page.emit(i.route)"
    ></a>
    <a
      class="φpager__link φpager__link--next"
      *ngIf="i.type === 'next'"
      (click)="page.emit(i.route)"
    ></a>
    <a class="φpager__link" *ngIf="!i.type" (click)="page.emit(i.route)">{{ i.text }}</a>
  </ng-container>
  <a class="φpager__link φpager__link--active" *ngIf="i.type === 'active'">{{ i.text }}</a>
  <a class="φpager__link φpager__link--dot" *ngIf="i.type === 'dot'"></a>
</ng-container>
