<div class="φsidebar__inner" #inner>
  <section class="φsidebar__main">
    <header class="φsidebar__author">
      <!-- darkmode -->
      <i class="φsidebar__darkmode" *ngIf="config.theme.dark" (click)="toggleTheme()"></i>
      <div *ngIf="avatarPlugin" class="φsidebar__author-avatar-layout" [innerHTML]="avatarPlugin | unsafe" isSnippet></div>
      <img
        *ngIf="!avatarPlugin"
        class="φsidebar__author-avatar-layout φsidebar__author-avatar"
        src="{{ config.profile?.avatar }}"
        alt="{{ config.author }}"
        title="{{ config.author }}"
        width="160"
        draggable="false"
      />

      <a class="φsidebar__author-name" href>{{ config.author }}</a>
      <p class="φsidebar__author-bio" [innerHTML]="config.profile?.bio | unsafe"></p>
    </header>
    <div *ngIf="config.count.posts" class="φsidebar__state">
      <a
        class="φsidebar__state-item"
        [ngClass]="{ 'φsidebar__state-item--active': activePath === '/archives' }"
        routerLink="/archives"
      >
        <span>{{ config.count.posts > 1e4 ? '999+' : config.count.posts }}</span>
        <span>{{ 'menu.archives' | i18n }}</span>
      </a>
      <a
        class="φsidebar__state-item"
        [ngClass]="{ 'φsidebar__state-item--active': activePath === '/categories' }"
        routerLink="/categories/{{ config.category0 }}"
        *ngIf="config.count.categories"
      >
        <span>{{ config.count.categories > 1e4 ? '999+' : config.count.categories }}</span>
        <span>{{ 'menu.categories' | i18n }}</span>
      </a>
      <a
        class="φsidebar__state-item"
        [ngClass]="{ 'φsidebar__state-item--active': activePath === '/tags' }"
        routerLink="/tags"
        *ngIf="config.count.tags"
      >
        <span>{{ config.count.tags > 1e4 ? '999+' : config.count.tags }}</span>
        <span>{{ 'menu.tags' | i18n }}</span>
      </a>
    </div>
    <nav class="φsidebar__routes" *ngIf="config.menu">
      <ng-container *ngFor="let a of config.menu">
        <a
          *ngIf="!a[2]"
          class="φsidebar__routes-link"
          [ngClass]="{ 'φsidebar__routes-link--active': a[1] == activePath }"
          routerLink="{{ a[1] }}"
          >{{ a[0] }}</a
        >
        <a
          *ngIf="a[2]"
          class="φsidebar__routes-link"
          href="{{ a[1] }}"
          target="_blank"
          rel="external nofollow noopener"
          >{{ a[0] }}</a
        >
      </ng-container>
    </nav>
    <!-- plugins -->
    <ng-container *ngIf="plugins">
      <div *ngFor="let t of plugins" class="φcommon__plugin" [innerHTML]="t | unsafe" isSnippet></div>
    </ng-container>
  </section>
  <footer class="φsidebar__footer">
    <div class="φsidebar__footer-sns" *ngIf="config.sns">
      <ng-container *ngFor="let i of config.sns">
        <a
          *ngIf="!i[2]"
          class="φsidebar__footer-sns-link φcommon__icon"
          title="{{ i[0] }}"
          href="{{ i[1] }}"
          [ngClass]="'iκ-' + i[0]"
          target="_blank"
          rel="external nofollow noopener"
        ></a>
        <a
          *ngIf="i[2]"
          class="φsidebar__footer-sns-link"
          title="{{ i[0] }}"
          href="{{ i[1] }}"
          target="_blank"
          rel="external nofollow noopener"
          [innerHTML]="i[2] | unsafe"
        ></a>
      </ng-container>
    </div>
    <!-- copyright -->
    <p class="φcommon__article" *ngIf="config.footer.copyright" [innerHTML]="config.footer.copyright | unsafe"></p>
    <!-- theme meta -->
    <p class="φcommon__article" *ngIf="config.footer.powered || config.footer.theme">
      <span
        class="φsidebar__footer-item"
        *ngIf="config.footer.powered"
        [innerHTML]="config.footer.powered | unsafe"
      ></span>
      <span class="φsidebar__footer-item" *ngIf="config.footer.theme" [innerHTML]="config.footer.theme | unsafe"></span>
    </p>
    <!-- custom text -->
    <p class="φcommon__article" *ngIf="config.footer.custom" [innerHTML]="config.footer.custom | unsafe"></p>
  </footer>
</div>
