<div class="φfab__menu-group" [ngClass]="{ 'φfab__menu-group--active': showMenu }">
  <span class="φcommon__icon iκ-up" (click)="act('toTop')"></span>
  <span class="φcommon__icon iκ-down" (click)="act('toBottom')"></span>
  <span class="φcommon__icon iκ-sidebar" (click)="act('toggleSidebar')" *ngIf="sidebar"></span>
  <span class="φcommon__icon iκ-toc" (click)="act('toggleToc')" *ngIf="toc"></span>
  <span class="φcommon__icon iκ-search" (click)="act('search')" *ngIf="search"></span>
</div>
<div class="φfab__control" (click)="toggle()" #control>
  <svg class="φfab__control-svg">
    <defs>
      <filter id="dp">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2" />
      </filter>
    </defs>
    <circle filter="url(#dp)" fill="rgba(0,0,0,.3)" cx="50%" cy="52%" r="44%"></circle>
    <circle class="φfab__control-cover" cx="50%" cy="50%" r="44%"></circle>
    <circle
      class="φfab__control-stroke"
      [attr.stroke-dasharray]="3.1415926 * (progress || 0) + '% 314.15926%'"
      cx="50%"
      cy="50%"
      r="48%"
    ></circle>
    <text class="φfab__control-progress" *ngIf="progress" x="50%" y="0" dy="50%">
      {{ progress || '' }}<tspan dx="1">%</tspan>
    </text>
    <g class="φfab__control-dot" *ngIf="!progress">
      <!-- total: .4rem * 2rem -->
      <circle [attr.cx]="showMenu ? '-.8rem' : 0" [attr.cy]="showMenu ? 0 : '-.8rem'" r=".2rem"></circle>
      <circle r=".2rem"></circle>
      <circle [attr.cx]="showMenu ? '.8rem' : 0" [attr.cy]="showMenu ? 0 : '.8rem'" r=".2rem"></circle>
    </g>
  </svg>
</div>
