<ng-container *ngIf="data$ | async as it">
  <article class="φv-archive__outer">
    <section class="φv-archive__year" *ngFor="let year of it.archives.data">
      <h1 class="φv-archive__year-title">{{ year.year }}</h1>
      <div class="φv-archive__month" *ngFor="let month of year.months">
        <header class="φv-archive__month-title">
          {{ month.month }}
        </header>
        <is-archive [posts]="month.entries" dateFormat="MM-DD"></is-archive>
      </div>
    </section>
  </article>
  <is-pager
    *ngIf="it.archives.total > 1"
    [size]="it.archives.per_page"
    [count]="it.archives.total"
    [current]="it.archives.current"
    url="archives"
    indexUrl="archives"
  ></is-pager>
</ng-container>
